:root{
    --red:#ff1a1a;
}
*{

    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    transition: all .3s cubic-bezier(.16,.8,.62,1.52);
    text-transform: capitalize;
    font-weight: normal;
}

*::selection{
    background:var(--red);
    color:#fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background:#000;
}

html::-webkit-scrollbar-thumb{
    background:var(--red);
}

section{
    height: 70vh;
    padding:0 7%;
    padding-top: 11rem;
    width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-image: url(../Xpressbees.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*
h3{
  font-size: 3em;
  display: block;
  color: black;
  font-weight: 300;
}
p{
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    top: 50%;
}*/

.btn{
    display: inline-block;
    padding:.7rem 4rem;
    font-size: 2rem;
    color:#fff;
    background:var(--red);
    padding-top: 1rem;
    margin-top: 1rem;
}

.btn:hover{
    transform:scale(1.02);
}


.heading{
    text-align: center;
    color:var(--red);
    text-transform: uppercase;
    font-size: 1rem;
}

.heading span{
    color:#666;
}
header{
    position: fixed;
    top:2.5rem; left:50%;
    transform:translateX(-50%);
    width:93%;
    z-index: 1000;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 3rem;
    border-radius: .5rem;

}

header .logo{
    color:#333;
    font-size: 2.5rem;
}

header .logo span{
    color:var(--red);
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 3rem;
}

header .navbar ul li a{
   font-size: 2rem;
   color:#333;
}

.home{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    background: url(../Xpressbees.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .content h3{
    color: black;
    font-size: 4rem;
    padding-bottom: 1rem;
    text-align: left;
}


.home .content p{
    color: black;
    font-size: 2rem;
    padding: 2rem 0;
    text-align: left;
}

/* FORM */

.loginbox {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    background: solid;
    color:black;
    top: 40%;
    left: 70%;

    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}



input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.services h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.services p{
     text-align: center;
    font-size: 18px;
}


.product{
    background:#eee;
}

.product .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product .box-container .box{
    margin:1rem;
    padding:2rem;
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    text-align: center;
    width:27rem;
}

.product .box-container .box:hover{
    box-shadow: 0 .7rem 1rem rgba(0,0,0,.1);
}

.product .box-container .box img{
    margin:2rem 0;
    height:17rem;
}

.product .box-container .box h3{
    color:#444;
    font-size: 3rem;
}

.product .box-container .box p{
    color:#999;
    font-size: 2rem;
    padding:1rem 0;
}

.product .box-container .box .price{
    color: white;
    font-size: 3rem;
}

.footer{
    text-align: center;
    background:white;
}

.footer .share{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.footer .share a{
    font-size: 2rem;
    color: black;
    padding:2rem;
}

.footer .share a:hover{
    color:#eee;
}

.footer a:hover{
    text-decoration: underline;
}

.footer .credit{
    padding:2rem 1rem;
    font-size: 3rem;
    color:#fff;
    background:#111;
}

.footer .credit a{
    color:var(--red);
}

.scroll-top{
    position: fixed;
    bottom:7.5rem; right:2rem;
    z-index: 1000;
    display: none;
}

.scroll-top img{
    height:7rem;
    filter:drop-shadow(0 .3rem .5rem rgba(0,0,0,.2));
}
